In [274]:
import pandas as pd

In [275]:
# read csv file
data_train=pd.read_csv('train.csv')
data_test=pd.read_csv('test.csv')

In [276]:
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [277]:
# count of how many survived and write in an excel file
survive=data_train.Survived==1
sur=data_train[survive]
sur.to_excel('survive.xlsx')

In [278]:
# mean of 'Age'
mean_train=data_train["Age"].mean()
mean_test=data_test["Age"].mean()

In [279]:
# filling all empty cells of 'Age' with the mean value
data_train["Age"].fillna(mean_train,inplace=True)
data_test["Age"].fillna(mean_test,inplace=True)

In [280]:
# string type data to numerical data convert
data_train.Sex[data_train.Sex=='male']=1
data_train.Sex[data_train.Sex=='female']=2

data_test.Sex[data_test.Sex=='male']=1
data_test.Sex[data_test.Sex=='female']=2

c:\users\sudip\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

c:\users\sudip\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
c:\users\sudip\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
c:\users\sudip\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [281]:
# droping all inessential column 
data_train.drop(['Name'], axis=1, inplace=True)
data_train.drop(['Ticket'], axis=1, inplace=True)
data_train.drop(['Fare'], axis=1, inplace=True)
data_train.drop(['Cabin'], axis=1, inplace=True)
data_train.drop(['SibSp'], axis=1, inplace=True)
data_train.drop(['Pclass'], axis=1, inplace=True)
data_train.drop(['Parch'], axis=1, inplace=True)
data_train.drop(['Embarked'], axis=1, inplace=True)

data_test.drop(['Name'], axis=1, inplace=True)
data_test.drop(['Ticket'], axis=1, inplace=True)
data_test.drop(['Fare'], axis=1, inplace=True)
data_test.drop(['Cabin'], axis=1, inplace=True)
data_test.drop(['SibSp'], axis=1, inplace=True)
data_test.drop(['Parch'], axis=1, inplace=True)
data_test.drop(['Pclass'], axis=1, inplace=True)
data_test.drop(['Embarked'], axis=1, inplace=True)

In [282]:
data_train.head()

   PassengerId  Survived Sex   Age
0            1         0   1  22.0
1            2         1   2  38.0
2            3         1   2  26.0
3            4         1   2  35.0
4            5         0   1  35.0

In [283]:
# crosschecking for empty cell - columnwise
data_train['PassengerId'].isnull().values.any()

False

In [284]:
data_train['Survived'].isnull().values.any()

False

In [285]:
data_train['Sex'].isnull().values.any()

False

In [286]:
data_train['Age'].isnull().values.any()

False

In [287]:
data_test.shape

(418, 3)

In [310]:
# Y is a dependent variable (depent on other data)
Y=data_train['Survived'].values
Y=Y.astype('int')

In [311]:
# X is all independent variable 
X=data_train.drop(labels=['Survived'], axis=1)

In [312]:
X.head()

   PassengerId Sex   Age
0            1   1  22.0
1            2   2  38.0
2            3   2  26.0
3            4   2  35.0
4            5   1  35.0

In [321]:
from sklearn.model_selection import train_test_split
Y_test = train_test_split(Y, test_size=0.4, random_state=20)

In [314]:
from sklearn import datasets
from sklearn import svm
from sklearn import metrics

In [315]:
#create a model 
model=svm.SVC(kernel='linear')

In [316]:
# train the model 
model.fit(X,Y)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [317]:
# feature score
from sklearn.inspection import permutation_importance
results = permutation_importance(model, X, Y, scoring='accuracy')
importance = results.importances_mean
for i,v in enumerate(importance):
    print('Feature: %0d, Score: %.5f' % (i,v))

Feature: 0, Score: 0.00000
Feature: 1, Score: 0.25051
Feature: 2, Score: 0.00000

In [318]:
# predict the result from the model
prediction_test=model.predict(data_test)

In [319]:
print(prediction_test)

[0 1 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 1 1 0 1 0
 1 0 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 0 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 1 0 0 0 0 0 0 0 0 1 0 1 1 0 0 1 0 0 1 0 1 0 0 0 0 1 1 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 1 0 1 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]

In [322]:
#from sklearn import metrics
#print("Accuracy=", metrics.accuracy_score(Y_test,prediction_test))

In [272]:
# write the result into an excel file
import xlsxwriter
workbook=xlsxwriter.Workbook('hc.xlsx')
worksheet=workbook.add_worksheet()
row=0
col=0
for Survived in (prediction_test):
    worksheet.write(row,col,Survived)
    row+=1
workbook.close()